body {
  margin: 0;
}

#join-room-btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 4rem;
  width: 10rem;
  font-size: 1rem;
}

#media {
  width: 100%;
  max-width: 768px;
  min-height: 100vh;
  margin-left: auto;
  margin-right: auto;

  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;
  align-items: center;
}

#video-container {
  width: 100%;
}

video {
  width: 100%;
}